.foo {
    display: block;

}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li  {
        display: inline-block;

        span {
            margin-left: 5px;
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
    }
}